.creators {
    height: 753px;
    background-color: #121214;

}

.creatorsBlock {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
    margin-left: 48px;
    margin-top: 0;
    padding-top: 120px;
    margin-bottom: 24px;
}